<div class="row">
    <div class="col-xs-8">
        <h2>注文詳細</h2>
        <table class="table table-hover table-inverse">
            <tr class="">
                <th class="td-id">購入者</th>
                <td class="td-name"><%= @order.user.full_name_japanese %></td>
            </tr>
            <tr class="">
                <th class="td-id">配送先</th>
                <td class="td-name"><%= @order.address %></td>
            </tr>
            <tr class="">
                <th class="td-id">支払い方法</th>
                <td class="td-name"><%= @order.payment_method %></td>
            </tr>
            <tr class="">
                <th class="td-id">注文ステータス</th>
                <td class="td-name"><%= @order.status %></td>
                <%# 更新できるように %>
            </tr>
        </table>
    </div>
    <div class="col-xs-8">
        <table class="table table-hover table-inverse">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>単価（税込）</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th>制作ステータス</th>
                </tr>
            </thead>
            <% @orders.each do |order| %>
            <tbody>
                <tr><% order.order_items.each do |order_item| %>
                    <td></td>
                    <% end %>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <% end %>
        </table>
    </div>
    <%# 右下の塊%>
    <div class="col-xs-4">
        <table>
            <tr>
                <th>商品合計</th>
                <td>商品合計</td>
            </tr>
            <tr>
                <th>送料</th>
                <td>送料</td>
            </tr>
            <tr>
                <th>請求金額合計</th>
                <td>請求金額合計</td>
            </tr>
        </table>
    </div>
</div>