<div class="row">
    <div class="col-xs-8">
        <h2>注文詳細</h2>
        <table class="table table-hover table-inverse">
            <tr class="">
                <th class="td-id">購入者</th>
                <td class="td-name"><%= @order.user.full_name_japanese %></td>
            </tr>
            <tr class="">
                <th class="td-id">配送先</th>
                <td class="td-name"><%= @order.address %></td>
            </tr>
            <tr class="">
                <th class="td-id">支払い方法</th>
                <td class="td-name"><%= @order.payment_method %></td>
            </tr>
            <tr class="">
                <th class="td-id">注文ステータス</th>
                <td class="td-name"><%= @order.status %></td>
                <%# 更新できるように %>
            </tr>
        </table>
    </div>
    <div class="col-xs-8">
        <h2>請求情報</h2>
        <table class="table table-hover table-inverse">
            <tr class="">
                <th class="td-id">商品合計</th>
                <td class="td-name">商品合計（内容）</td>
            </tr>
            <tr class="">
                <th class="td-id">配送料</th>
                <td class="td-name">配送料（内容）</td>
            </tr>
            <tr class="">
                <th class="td-id">ご請求額</th>
                <td class="td-name">ご請求額（内容）</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-4">
        <h2>注文内容</h2>
        <table class="table table-hover table-inverse">
            <thead>
                <tr>
                    <th>商品</th>
                    <th>単価（税込）</th>
                    <th>個数</th>
                    <th>小計</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>商品（内容）</td>
                    <td>単価（税込）（内容）</td>
                    <td>個数（内容）</td>
                    <td>小計（内容）</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>