<h3>注文情報確認</h3>

<div class="row">
  <%= form_for @order do |f| %>
      <div class="col-xs-8">
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>画像 商品名</td>
                <td>金額</td>
                <td>購入した数</td>
                <td>金額</td>
              </tr>
            </tbody>
          </table>
      </div>

      <div class="col-xs-4">
          <table class="table table-hover table-inverse">
            <tr class="">
                <th class="td-id">送料</th>
                <td class="td-name">金額</td>
            </tr>
            <tr class="">
                <th class="td-id">商品合計</th>
                <td class="td-name">金額</td>
            </tr>
            <tr class="">
                <th class="td-id">請求金額</th>
                <td class="td-name">金額</td>
            </tr>
          </table>
      </div>

      <div class="col-xs-4">
        <div class="field">
            <%= f.label :支払い方法 %>
        </div>

        <div class="field">
            <%= f.label :お届け先 %>
        </div>

        <div class="btn-wrapper">
           <%= link_to '購入を確定する', finish_orders_path, class: "btn btn-success " %>
        </div>
      </div>
  <% end %>
</div>