  <div class="col-xs-2 category">
    <h3>ジャンル検索</h3>
    <% categories.each do |category| %>
    <% if category.status == "有効" %>
    <h4><%= category.name %></h4>
    <% end %>
    <% end %>
  </div>