  <div class="col-xs-2 category">
    <h4>ジャンル検索</h4>
    <% categories.each do |category| %>
    <% if category.status == "有効" %>
    <h5><%= category.name %></h5>
    <% end %>
    <% end %>
  </div>