<div class="row">
<%= render 'category'  %>

  <div class="col-xs-2">
    <p>商品一覧（全件）</p>
    <% @items.each do |item| %>
    <p>画像</p>
    <!--商品名-->
    <p><%= link_to item.name, item, class: "item_#{item.id}" %></p>
    <!--税抜き価格-->
    <p>¥<%= item.non_tax_price %></p>
    <% end %>
  </div>
</div>