<div class="row">
<%= render 'category'  %>

  <div class="col-xs-2">
    <h1></h1>
  </div>
  <div class="col-xs-4">
    <h1>画像</h1>
  </div>
  <div class="col-xs-4">
    <h1>商品名</h1>
    <p><% @item.text %><p>
    <h2>値段(税込)<h2>
  </div>
</div>