/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

a {
  color:#111;
}

.full_name {
  margin-right: 150px;
  padding-top: 15px
}

.title {
  margin-top :5px;
  font-size: 20px;
}

.about {
  margin-bottom: 180px;
}

.item_table {
  margin-right: 30px
}

.item-show {
  padding-top: 50px;
}

.postage-price {
  padding-top: 30px;
}

.price-tag {
  color:#B12704;
}
