// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.under {
    text-decoration: underline;
}

.ta {
    padding: 10px;
}
.td-id {
    margin: 20px, 0;
}

.text1 {
    color: #001aff;
}
.text2 {
    color: #ff0000;
}
